# Node.js / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

frontend/.env
frontend/package-lock.json
frontend/package.json

node_modules/

# Archivos de producción
/build

# Testing
/coverage

# Archivos de configuración de editor / herramientas
.DS_Store
*.pem
.claude/
.agents/
.cursor/
CLAUDE.md

# Archivos de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archivos de entorno (configuración sensible)
.env*

# Vercel
.vercel

# Archivos de Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
*.sqlitedb
*.log
*.cache
*.egg-info
*.egg
*.egg-info
*.dist-info

# Entorno virtual de Python
backend/venv/

# Deploy
backend/deploy/
bash.exe.stackdump
